<footer>
    <div class="brand"></div>

    <div class="items">
        <div class="copyright">&copy; 2019 - hey@makerhub.studio</div>
        <div class="disclaimer">This is a fan-project and in no way affiliated with or endorsed by Nintendo.<br />Nintendo, Super Mario Maker 2 and any ingame screenshots are property of Nintendo.</div>
        <a href="/legal">Legal Disclosure</a>
        <a href="/privacy">Privacy policy & GDPR</a>
        <a href="/tos">Terms of Service</a>
    </div>
</footer>

<script src="/static/js/pageLoader.js"></script>
<script src="/static/js/public.js"></script>

<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139388827-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-139388827-1');
</script>